<h1>All Species</h1>

<% @species.each do |species| %>

    <div class="card plant-card">

        <div class="plant-card-name-section">
            <%= image_tag species.image_path, class: "small-species-icon plant-card-icon" %>
            <%= link_to species_path(species), class: "plant-card-main-info" do %>
                <p class="plant-card-name" ><%= species.common_name %></p>
            <% end %>
        </div>

        <div class="plant-card-counts-of-species">
            <h1><%= species.number_of_plants %> Plants</h1>
        </div>
    </div>
<% end %>