<h1>All Species</h1>
<% @species.each do |species| %>
    <div class="card">
            <%= image_tag species.image_path, class: "small-species-icon" %>
        <%= link_to species.common_name, species_path(species) %>
    </div>
<% end %>