body {
    display: flex;
    background-color: #f0f0f0;
    font-family: "Arial";
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 250px;
    max-width: 250px;
    padding: 20px; 
    justify-content: center;
    background-color: #8fc45d;
}

h1.title {
    color: white;
}

nav a {
    border-radius: 40px;
    background-color: #84b655;
    color: white;
    height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #729c4a;
}

.page-container {
    width: 100%;
    padding: 20px 100px 20px 380px;
    /* border: 1px solid red; */
}

.sessions-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    /* border: 1px solid red; */
}

.login-button {
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 40px;
    color: white;
    background-color: #84b655;
    text-decoration: none;
}

.logout-button {
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 40px;
    color: white;
    background-color: #d6d6d6;
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.plant-card {
    display: flex;
    justify-content: space-between;
}

.plant-card-name {
    /* border: 1px solid red; */
}

.plant-card-watering-info {
    display: flex;
    /* border: 1px solid red; */
}

.plant-card-watering-info-section {
    /* border: 1px solid blue; */
    margin-right: 50px;
}

.plant-card-counts-of-species {
    
}

.tiny-text {
    color: ;
    font-size: 10px;
}

.water-button {
    /* border: 1px solid red; */
}

.overdue-watering {
    background-color: #ffbfbf;
    border: 2px solid #eb7c7c;
}

.large-species-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.small-species-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.footer {
    color: #b5b5b5;
}