body {
    display: flex;
    background-color: #f0f0f0;
    font-family: "Arial";
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 250px;
    max-width: 250px;
    padding: 20px; 
    justify-content: center;
    background-color: #8fc45d;
}

.full-page-container {
    height: 100vh;
    width: 100vw;
    background-color: #8fc45d;
    display: flex;
    justify-content: center;
}

.full-nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
}

svg.header-logo {
    width: 100px;
    height: 100px;
}

path.leaf {
    fill: white;
}


h1.title {
    color: white;
    margin: 10px 0 50px 0;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.nav-link{
    border-radius: 40px;
    background-color: #84b655;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 18px;
    transition: .15s background-color;
}

.nav-link:hover {
    background-color: #79a74e;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.nav-icon path {
    fill: #47632d;
}

.home-title {
    font-size: 22px;
    color: white;
}

.form-section {
    margin-bottom: 15px;
}

.form-section label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.application-form label {
    color: #444444;
}

.application-form {
    display: inline-block;
    width: 400px;
    margin-bottom: 25px;
}

.application-button:hover {
    background-color: #79a74e;
}

#watering_notes {
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
}

.form-section input {
    padding: 10px;
    border-radius: 40px;
    border: none;
    width: 100%;
}

.application-form input {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #444444;
    width: 100%;
}

.form-button {
    border-radius: 40px;
    border: none;
    background-color: #84b655;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 18px;
    transition: .15s background-color;
}

#application-button {
    border-radius: 40px;
    border: none;
    background-color: #84b655;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 18px;
    transition: .15s background-color;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #79a74e;
}

.form-note {
    color: #737373;
    margin-top: 5px;
    font-size: 15px;
}

.page-container {
    width: 100%;
    min-width: 750px;
    padding: 20px 100px 20px 380px;
    /* border: 1px solid red; */
}

.sessions-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

.nav-username {
    font-size: 16px;
    color: #6f6f6f;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
}

.nav-username:hover {
    text-decoration: underline;
}

.login-button {
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #84b655;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    transition: .15s background-color;
}

.login-button:hover {
    background-color: #729c4a;
}

.signup-button {
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #74a14a;
    text-decoration: none;
    padding: 10px 15px;
    transition: .15s background-color border;
}

.signup-button:hover {
    background-color: #628640;
}

.logout-button {
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #d2d2d2;
    text-decoration: none;
    padding: 10px 15px;
    transition: .15s background-color;
}

.logout-button:hover {
    background-color: #c2c2c2;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-top: 0;
}

.double-title-h1 {
    margin-bottom: 5px;
}

.double-title-h2 {
    margin-top: 0;
    color: #525252;
}

.page-title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title-container {

}

.page-title-padding {
    margin-bottom: 10px;
}

.title-button {
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #84b655;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    transition: .15s background-color;
}

.title-button:hover {
    background-color: #729c4a;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.plant-card {
    display: flex;
    justify-content: space-between;
}

.plant-card-icon {
    margin-right: 20px;
    min-width: 75px;
}

.plant-card-name-section {
    width: 250px;
    display: flex;
    align-items: center;
}

.plant-card-main-info {
    text-decoration: none;
    color: #525252;
}

.plant-card-main-info:hover {
    text-decoration: underline;
}

.plant-card-name {
    margin: 0;
    color: #3c8ae2;
    font-size: 18px;
}

.plant-card-species {
    color: #797979;
    margin: 5px 0 0 0;
    font-size: 15px;
}

.plant-card-watering-info {
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.plant-card-watering-info-section {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plant-card-counts-of-species {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.detail-card {
    display: flex;
    padding: 30px;
}

.detail-card-container {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.detail-card-container-top {
    margin-bottom: 20px;
}

.detail-card-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail-card-item-left {
    width: 200px;
    min-width: 200px;
}

.detail-card-split {
    justify-content: space-between;
}

.detail-card-item-text {
    margin-left: 15px;
}

.detail-card-item-link {
    font-size: 16px;
    color: #3c8ae2;
    text-decoration: none;
}

.detail-card-item-link:hover {
    text-decoration: underline;
}

.detail-icon {
    min-height: 25px;
    min-width: 25px;
    height: 25px;
    width: 25px;
}

.watering-notes {
    color: #656565;
}

.days-ago-label {
    font-size: 13px;
    text-align: center;
    color: #797979;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #797979;
}

.days-ago {
    font-weight: 500;
    text-align: center;
    color: #525252;
    font-size: 16px;
    margin: 10px 0 0 0;
}

.plant-card-water-button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plant-card-water-container {
    display: flex;
}

.water-button {
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #3c8ae2;
    height: 20px;
    text-decoration: none;
    padding: 10px 15px;
    transition: .15s background-color;
    display: inline-block;
    align-items: center;
}

.water-button:hover {
    background-color: #3170b7;
}

.edit-button {
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #e9b648;
    height: 20px;
    text-decoration: none;
    padding: 10px 15px;
    transition: .15s background-color;
    display: inline-block;
    align-items: center;
    margin: 0 10px;
}

.delete-button {
    border: none;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #e94848;
    height: 40px;
    text-decoration: none;
    padding: 10px 15px;
    transition: .15s background-color;
    display: inline-block;
    align-items: center;
}

.inline-button {
    display: inline;
}

.water-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.water-icon path {
    fill: white;
}

.overdue-watering {
    border: 2px solid #eb7c7c;
}

.large-species-icon {
    min-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.small-species-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.footer {
    color: #b5b5b5;
}