<h1><%= @plant.nickname_for_views%>'s Waterings</h1>
<% @waterings.each do |watering| %>
    <div class="card">
        <%= link_to watering.date_for_views, watering_path(watering) %>
    </div>
<% end %>